.taskForm {
  display: flex;
  overflow: hidden;
  margin: 10px 0;
  margin: 0;
  padding: 10px;
  align-items: center;
  background-color: #bbb;
}
.add {
  width: 24px;
  height: 24px;
  background: url('../../img/add-24px.svg');
  flex: none;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  margin: 5px;
  font-size: 18px;
  font-weight: normal;
  flex: 1;
}

.addTask {
  height: 30px;
  color: #bbb;
  background-color: #008000;
}

.task {
  display: flex;
  margin: 1px 0;
  padding: 10px;
  align-items: center;
  background-color: #fff;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  &:hover {
    background-color: lemonchiffon;
  }
}

.name {
  margin: 5px;
  border: none;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  flex: 1;
  background-color: #ddd6;
}
.name:read-only {
  cursor: default;
  font-style: normal;
  background-color: transparent;
}
.name:focus {
  outline: none;
}
input[name='deadline'],
.deadline {
  display: block;
  margin: 1px;
  border: none;
  width: 170px;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  background-color: #ddd6;
}
input[name='deadline']:read-only,
.deadline:read-only {
  cursor: default;
  font-style: normal;
  background-color: transparent;
}
input[name='deadline']:focus,
.deadline:focus {
  outline: none;
}
.buttonsCont {
  display: flex;
  width: 80px;
  justify-content: center;
  align-items: center;
  button {
    border: none;
  }
}

.priority {
  display: block;
  width: 24px;
  height: 24px;
  background: url('../../img/unfold_more-24px.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;
  cursor: move;
  cursor: -webkit-grabbing;
}

.sortableGhost {
  opacity: 0.4;
}

.submit {
  display: block;
  width: 24px;
  height: 24px;
  background: url('../../img/check-24px.svg');
  color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;

  &:hover {
    cursor: pointer;
  }
}

.edit {
  display: block;
  width: 24px;
  height: 24px;
  background: url('../../img/edit-24px.svg');
  color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;

  &:hover {
    cursor: pointer;
  }
}
.delete {
  display: block;
  width: 24px;
  height: 24px;
  background: url('../../img/delete-24px.svg');
  color: transparent;
  background-size: cover;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
  }
}
.hidden {
  display: none;
}
.visible {
  display: flex;
}
